/* Apply a reset to remove default browser styles */
body, h1, form {
    margin: 0;
    padding: 0;
}

/* Style the body background and center the form */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 2rem;
}

/* Style the form container */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 80%;
}

/* Style form headings */
h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

/* Style form labels */
label {
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
 
/* Style for survey question */
.option{
    display: block;
   
}
.mBottom{
    margin-bottom: 15px;
}

/* Style form input fields */
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: calc(100% - 20px);
}


/* Style buttons */
button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="reset"] {
    background-color: #dc3545;
    margin-left: 10px;
}

/* Style the popup */
#popup {
    display: none;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;

    z-index: 999;
}

.heading{
    margin-left: 500px;
}
/* Style the popup content */
.popup-content {
    background-color: #fff;
   
    margin-left: 100px;
}

/* Style the close button in the popup */
#closePopup {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    display: block;
    margin: 0 auto;
}
